@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';


* {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

@import 'blocks/_header';
@import 'blocks/_promo';
@import 'blocks/_partners';
@import 'blocks/_product';