.features {
    padding: 120px 0 115px 0;
    min-height: 770px;
    background: #377AE2;
    overflow: hidden;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: relative;
        z-index: 10;
    }
    &__circle-s, 
    &__circle-m,
    &__circle-l {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    &__circle-s {
        width: 420px;
        height: 420px;
        z-index: -5;
        &_result {
            background: #3C82EF;
            box-shadow: -60px -60px 116px rgba(94, 168, 255, 0.76), 60px 55px 136px rgba(25, 79, 163, 0.26);
        }
    }
    &__circle-m {
        width: 840px;
        height: 840px;
        z-index: -10;
        &_result {
            background: #3C82EF;
            box-shadow: -100px -100px 200px rgba(94, 168, 255, 0.76), 100px 100px 200px rgba(25, 79, 163, 0.26);
        }
    }
    &__circle-l {
        width: 1440px;
        height: 1440px;
        z-index: -15;
        &_result {
            background: #3C82EF;
            box-shadow: -100px -100px 200px rgba(94, 168, 255, 0.76), 100px 100px 200px rgba(25, 79, 163, 0.26);
        }
    }
    &__content {
        color: #FFFFFF;
        z-index: 100;
    }
    &__title {
        font-weight: bold;
        font-size: 31px;
        line-height: 37px;
    }
    &__descr {
        margin-top: 30px;
        max-width: 430px;
    }
    &__item {
        margin-top: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }
}