.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
}

.main-slider {
    padding-top: 75px;
    &__inner {
        margin: 0 auto;
        max-width: 865px;
    }
    
    .slick-prev, .slick-next {
        left: -100px;
        background-color: transparent;
        img {
            width: 32px;
            height: 180px;
        }
    }
    .slick-next {
        right: -90px;
        left: auto;
    }
    .slick-dots {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        
        li {
            margin: 0 5px;
            list-style-type: none;
            button {
                width: 10px;
                height: 10px;
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid #A5B5E6;
                font-size: 0;
            }
        }
        li.slick-active {
            button {
                background: #2958E6;
                order: 1px solid #2958E6;
            }
        }
    }
    
}

.slider {
    padding: 75px 0;
    min-height: 440px;
    &__title {
        font-weight: 700;
        font-size: 31px;
        line-height: 37px;
        text-align: center;
        color: #000000;
    }
    &__inner {
        position: relative;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 830px;
    }
    &__item {
        img {
            width: 140px;
            height: 140px;
        }
        span {
            display: block;
            margin-top: 13px;
            width: 140px;
            font-weight: 500;
            font-size: 12px;
            line-height: 151.5%;
            text-align: center;
            color: #000000;
        }
    }
    .slick-prev, .slick-next {
        left: -66px;
        background-color: #fff;
        img {
            width: 15px;
            height: 54px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}